.searchTag {
  padding: 10;
  min-width: 220;
  background-color: var(--CP);
  color: var(--text);
  border: none;
  height: 25px;
}

::placeholder {
  color: var(--text);
  font-style: italic;
}

.selector {
  padding: 10;
  background-color: var(--CP);
  color: var(--text);
  border: none;
  height: 25px;
}

.sort {
  padding: 10;
  background-color: var(--CP);
  color: var(--text);
  border: none;
  height: 25px;
}
